@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body {
    font-family: comfortaa-3d;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    animation: render 8s ease-in-out infinite;

}

@font-face {
  font-family: comfortaa-3d;
  src: url(../fonts/Comfortaa-Bold.woff2);
  font-weight: 900;
}

@font-face {
  font-family: comfortaa-3d-regular;
  src: url(../fonts/Comfortaa-Regular.woff2);
}

@font-face {
  font-family: comfortaa-3d-semibold;
  src: url(../fonts/Comfortaa-SemiBold.woff2);
}

h1, h2, h3, h4, h5, h6 {
    font-family: comfortaa-3d-semibold;
    font-weight: 900;
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
    color: #fff;
    outline: 0;
}

.container-fluid {
  margin-top: auto;
  position:relative;
  z-index: 1;
  background-color: #f9f9f9;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-family: "Tahoma";
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    line-height: 50px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: #1e2d9f;
    cursor: pointer;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    margin: 10px 20px 10px 10px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 5px 0 10px rgba(255, 255, 255, 0.7), 0 -5px 10px rgba(255, 255, 255, 0.7);
    line-height: 50px;
}  

.tel {
    font-size: 30px;
    font-weight: 900;
    color: #1e2d9f;
    text-align: center;
    margin-right: 20px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.social-icon {
    margin-left: 0.5em;
}

.social-icon img {
    max-height: 50px;
    max-width: 50px;
    border-radius: 30px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

/* Стили для Header's pictures */
#headerwrap {
    background: url(../img/background.png) no-repeat;
    padding-top: 10px;
    margin-top: -17vh;
    text-align: center;
    width: 100%;
    height: 110vh; /* Устанавливаем высоту в 100% высоты вьюпорта */
    -webkit-background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#headerwrap h1 {
    margin-top: 20vh;
    color: white;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 3px;
}

#headerwrap h2 {
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10vh;
}

/* Company's pluses О нас */
.pluses {
    font-size: 20px;
    padding-top: 35px;
    color:#1e2d9f;
    padding-top: 35px;
    
}

.pluses p {
    text-align: center;
}

.pluses h4 {
    font-size: 35px;
    font-weight: 900;
    color:#1e2d9f;
    text-align: center;
    letter-spacing: 0.01vw;

}

.fa-plane {
    font-size: 30px; /* Размер, который вам нужен */
    display: flex;
    align-items: center; /* Выравнивание по центру вертикально */
    justify-content: center;
}

.col-lg-4 {
    text-align: center;
}

.col-lg-2 img {
    border-radius: 50px 50px;
}

/* Слайдер */
.slider_header h4 {
    text-align: center;
    font-weight: 900;
    padding: 0;
}

#slider {
    background: transparent;
    /* padding-bottom: 70px; */
    text-align: center;
    animation: render 8s ease-in-out infinite;
}

.item1 {
    border-radius: 10px;
}

#slider h4 {
    font-size: 40px;
    color: #1e2d9f;
    margin-top: 0;
}

.text-uppercase{
    color:#1e2d9f;;
    border-radius: 10px;
}

.carousel-inner .item img {
  width: 100%;
  height: 100%;
}

.carousel-inner h3 {
    background-color: rgba(165, 201, 225, 0.6);
    padding: 20px;
    animation: anime-H3 0.5s ease-out;
}
.carousel-inner p {
    font-size: 18px;
    background-color: rgba(20, 49, 68, 0.6);
    padding: 20px;
    animation: anime-P 0.5s ease-out;
    border-radius: 10px;
}

/* Секция авиапарк */
.partner-section {
    text-align: center;
    padding: 50px 0; /* Регулируйте отступы по вашему усмотрению */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
        5px 0 10px rgba(255, 255, 255, 0.7),
        0 -5px 10px rgba(255, 255, 255, 0.7);
  }
  
  .partner-section img {
    display: block; /* Чтобы выровнять картинку по центру */
    margin: 0 auto; /* Чтобы выровнять картинку по горизонтали по центру */
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .partner-section h2 {
    font-size: 40px; /* Размер шрифта заголовка */
    color: #1e2d9f; /* Цвет текста заголовка */
    margin-top: 30px; /* Отступ сверху от заголовка */
    margin-bottom: 30px;
    font-weight: 900;
  }

  .footer {
    margin: 20px;
    color: #1e2d9f;
  }

  /*Параллакс эффект*/
  :root {
    --index: calc(1vw + 1vh);
    --transition: 1.5s cubic-bezier(.05, .5, 0, 1);
    }
    
    @font-face {
        font-family: comfortaa-3d;
        src: url(../fonts/Comfortaa-Bold.woff2);
        font-weight: 900;
    }
    @font-face {
        font-family: comfortaa-3d-regular;
        src: url(../fonts/Comfortaa-Regular.woff2);
    }
    @font-face {
        font-family: comfortaa-3d-semibold;
        src: url(../fonts/Comfortaa-SemiBold.woff2);
    }
    
    body {
        background-color: #c8dae9;
        color: #1e2d9f;
        font-family: comfortaa-3d;
    }
    
    .layers {
        perspective: 1000px;
        overflow: hidden;
    }
    
    .layers__container {
        height: 100vh;
        margin-top: calc(var(--index) * -4);
        margin-bottom: calc(var(--index) * 1.5);
        transform-style: preserve-3d;
        transform: rotateX(var(--move-y)) rotateY(var(--move-x));
        will-change: transform;
        transition: transform var(--transition);
    }
    
    .layers__item {
        position: absolute;
        inset: -5vw;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .layer-1 {
        transform: translateZ(-55px) scale (1.06);
    }
    
    .layer-2 {
        transform: translateZ(80px) scale(.88);
    }
    
    .layer-3 {
        transform: translateZ(150px) scale(.8);
    }
    
    .layer-4 {
        transform: translateZ(200px) scale(.9);
    }
    
    .layer-5 {
        transform: translateZ(90px) scale(.9);
    }
    
    .layer-6 {
        transform: translateZ(90px) scale(.5);
    }
    
    .layer-7 {
        transform: translateZ(240px) scale(.9);
    }
    
    .hero-content {
        font-size: calc(var(--index) * 1.9);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: calc(var(--index) * 1);
        line-height: 7.35em;
        margin-top: calc(var(--index) * 5.5);
    }
    
    .hero-content__p {
        font-weight: 900;
        color: #1e2d9f;
        text-transform: none;
        font-family: comfortaa-3d-regular;
        font-size: calc(var(--index) * 2);
        line-height: 2.5;
    }

    #uslugi h4 {
        margin-top: 50px;
    }
    
    .button-start {
        font-family: comfortaa-3d-semibold;
        font-weight: 900;
        text-transform: uppercase;
        font-size: calc(var(--index) * 1.5);
        letter-spacing: 1vw;
        padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
        background: transparent;
        border: #1e2d9f 3px solid;
        color: #000;
        border-radius: 10em;
        outline: none;
        cursor: pointer;
    }   
    
    .layer-4, .layer-5, .layer-6 {
        pointer-events: none;
    }
    
    .particles {
        width: 100%;
        height: 100%;
      }
        
@media (max-width: 1284px) {
    .navbar-brand {
      font-size: 40px; /* Уменьшить размер шрифта */
}
  
    .navbar-brand img {
      width: 40px; /* Уменьшить размер изображения */
      height: 40px;
      margin: 10px 10px 10px 10px; /* Уменьшить отступы */
    }

    .tel {
      font-size: 25px
    }
  }

  @media (max-width: 1053px) {
    .navbar-brand {
      font-size: 35px; /* Уменьшить размер шрифта */
    }
  
    .navbar-brand img {
      width: 35px; /* Уменьшить размер изображения */
      height: 35px;
      margin: 10px 10px 10px 10px; /* Уменьшить отступы */
    }
  }

  @media (max-width: 992px) {
    .phone-number {
        display: none;
    }
    .layers__container {
        margin-top: calc(var(--index) * -7);

    }
  }

  @media (max-width: 952px) {
    .navbar-brand {
      font-size: 30px; /* Уменьшить размер шрифта */
    }
  
    .navbar-brand img {
      width: 30px; /* Уменьшить размер изображения */
      height: 30px;
      margin: 10px 10px 10px 10px; /* Уменьшить отступы */
    }

    .particles {
        display: none;
      }
  }

  @media (max-width: 856px) {
    .navbar-brand {
      font-size: 25px; /* Уменьшить размер шрифта */
    }
  
    .navbar-brand img {
      width: 25px; /* Уменьшить размер изображения */
      height: 25px;
      margin: 10px 10px 10px 10px; /* Уменьшить отступы */
    }
  }
  
@media (max-width: 768px) {
    .layers__container {
        margin-top: calc(var(--index) * -15);
    }

    .container-fluid {
        background-color: transparent;
      }

    .navbar-header {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .navbar-brand {
      margin: 5px 10px 5px 5px;
      margin-top: 0;
      margin-bottom: 0;
      left: 0;
    }
  }

/* Медиа-запрос для экранов шириной 480px и менее */
/* Стили для уменьшенного шрифта h3 при ширине экрана 480px и менее */
@media (max-width: 600px) {
    #uslugi h4 {
        font-size: xx-large;
        margin-bottom: 0;
    }

    #slider img {
        height: auto;
    }
    
    .carousel-inner {
        height: auto;
    }

    .carousel-caption {
        height: 100%;
    }

    .carousel-inner h3 {
        height: auto;
        font-size: small;
    }

    .carousel-inner p {
        height: auto;
        font-size: small;
    }

    .carousel-indicators {
        display: none;
    }

    .partner-section  {
        margin: 0;
        padding: 0;
        box-shadow: none;
    }

    .partner-section h2 {
        font-size: xx-large;
        margin: 0;
    }
  }
  
@media (max-width: 460px) {
    .phone-number {
        color: #fff;
    }
    /* .navbar-brand {
        color: #fff;
    } */
    .layers__container {
        margin-top: calc(var(--index) * -18);
    }

    .pluses h4 {
    font-size: larger;        
    }
}

@media (max-width: 360px) {
    .carousel-caption p {
        padding: 1px;
    }
}